.resultheading{
  font-weight:bold;
  font-size:16px;
  border-width: 400px;
  border-top: thick double navy;
}

.result{
    font-weight: bold;
    font-size: medium;
}

.heading{
    position: relative;
    left:50px;
    top:30px;
    font-weight: bold;
}

header{
    background-color: purple;
    font-size: x-large;
    font-family: 'Times New Roman';
    width:800px;
    height:100px;
    left: 60px;
    position: relative;
    color: white;
    border-radius: 10px 10px;
}

#main{
    width: 760px;
    background-color: white;
    left: 60px;
    height:80px;
    position: relative; 
    padding-left: 20px;
    padding-right:20px;
}

.head{
    color: purple;
    font-weight: bold;
}

.button{
    background-color: grey;
    border-radius: 15px 15px;
    width: 150px;
    height: 35px;
    color: white;
    position: relative;
    left:40px;
    top:0;
}

.input{
    width: 250px;
    height:30px;
    border-radius: 10px 10px;
}

.